$header-bg-color: #424b4f;
$header-border-color: #c6c6c6;
$header-text-color: #fff;
$footer-bg-color: #424b4f;
$footer-border-color: #c6c6c6;
$footer-text-color: #fff;
$white-color: #fff;
$pink-color: #ff6b6b;
$orange-button-main-bg-color: #f78d1d;
$orange-button-main-border-color: #da7c0c;
$orange-button-main-bg-top-color: #faa51a;
$orange-button-main-bg-bottom-color: #f47a20;
$orange-button-main-hover-bg-color: #f47c20;
$orange-button-main-hover-bg-top-color: #f88e11;
$orange-button-main-hover-bg-bottom-color: #f47a20;
$orange-button-main-active-bg-color: #fcd3a5;
$orange-button-main-active-bg-top-color: #f47a20;
$orange-button-main-active-bg-bottom-color: #faa51a;
$black-color: #000;
$gray-color: #393939;
$yellow-color: #fffdbf;
$inactive-color: #a0a0a0;
$orange-border-color: #ff9c00;
$dark-gray-color: #6c6c6c;
$popup-bg-color: #fff6de;
$popup-border-color: #c78a21;
$popup-info-color: #7b7b7b;
$red-color: #c30606;
$blue-color: #a9e6ff;

$container-width: 960px;

$roboto-font: 'Roboto Condensed', sans-serif;
$ubuntu-font: 'Ubuntu', sans-serif;;
