.is-box-sized *, .is-box-sized *:before, .is-box-sized *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.is-inline-block {
  display: inline-block;
}

.is-block {
  display: block;
}

.is-row {
  overflow: hidden;
}

.is-left-col {
  float: left;
}

.is-right-col {
  float: right;
}

.is-main-ses-doc {
  margin-top: -35px;
}

.is-header-container, .is-footer-container {
  padding: 0 50px;
}

.is-text-centered {
  text-align: center;
}

.is-no-padding {
  padding: 0;
}

.is-no-margin {
  margin: 0;
}

.is-no-offset {
  @extend .is-no-margin;
  @extend .is-no-padding;
}

.is {
  &-form {
    background-position: center 0%;
    
    &-hand {
      color: $white-color;
      background: url("../../img/form-hand-bg.jpg") no-repeat;
    }
    
    &-what-next {
      color: $white-color;
      background: url("../../img/form-what-next-bg.jpg") no-repeat;
    }
  }

  &-col {
    &-1 {
      &-of-2 {
        width: 50%;
      }
      
      &-of-3 {
        width: 33%;
      }
      
      &-of-5 {
        width: 20%;
      }
    }
    
    &-4 {
      &-of-5 {
        width: 80%;
      }
    }
  }
}
