.is-box-sized *, .is-box-sized *:before, .is-box-sized *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.is-mobile-fontable {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.is-inline-block {
  display: inline-block;
}

.is-block {
  display: block;
}

.is-row {
  overflow: hidden;
}

.is-left-col {
  float: left;
}

.is-right-col {
  float: right;
}

.is-main-ses-doc {
  margin-top: -35px;
}

.is-header-container, .is-footer-container {
  padding: 0 50px;
}

.is-text-centered {
  text-align: center;
}

.is-no-padding {
  padding: 0;
}

.is-no-margin {
  margin: 0;
}

.is-no-offset {
  @extend .is-no-margin;
  @extend .is-no-padding;
}

.is {
  &-form {
    background-repeat: no-repeat;
//    background-attachment: fixed;
    background-position: center;
    min-width: 960px;
    
    &-hand {
      color: $white-color;
      background-image: url("../../img/form-hand-bg.jpg");
    }
    
    &-what-next {
      color: $white-color;
      background-image: url("../../img/form-what-next-bg.jpg");
    }
    
    &-map {
      background-image: url("../../img/map-bg.jpg");
    }
    
    &-start-now {
      color: $white-color;
      background-image: url("../../img/form-start-now-bg.jpg");
    }
    
    &-input {
      &-blocked {
        margin-top: 3px;
      }
    }

    &-button {
      &-blocked {
        margin-top: 10px;
      }
    }
  }

  &-col {
    &-1 {
      &-of-2 {
        width: 50%;
      }
      
      &-of-3 {
        width: 33%;
      }
      
      &-of-5 {
        width: 20%;
      }
      
      &-of-4 {
        width: 25%;
      }
    }
    
    &-4 {
      &-of-5 {
        width: 80%;
      }
    }
    
    &-55-p {
      width: 55%;
    }
    
    &-40-p {
      width: 40%;
    }
  }
  
  &-list {
    &-inline {
      list-style: none;
      
      & > li {
        display: inline-block;
      }
    }
  }
  
  &-no {
    &-paddings {
      &-tb {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  
  &-input {
    &-bordered {
      border: 1px solid #474747;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  
  &-text {
    &-red {
      color: $red-color;
    }
  }
}
