.header {
  background: $header-bg-color;
  border-bottom: 1px solid $header-border-color;
  padding: 8px 0;
  color: $header-text-color;
  font-family: $roboto-font;
  font-weight: 300;
  min-width: 960px;
  
  &-logo {
    padding: 20px 0 13px 10px;
    font-size: 20px;
  }
  
  &-phones {
    padding: 7px 0 4px 0;
    font-size: 30px;
  }
}

.footer {
  background: $footer-bg-color;
  border-bottom: 1px solid $footer-border-color;
  padding: 8px 0;
  color: $footer-text-color;
  font-family: $roboto-font;
  font-weight: 300;
  min-width: 960px;

  &-logo {
    padding: 20px 0 13px 10px;
    font-size: 20px;
  }

  &-phones {
    padding: 7px 0 4px 0;
    font-size: 30px;
  }
}

.main-container {
  width: $container-width;
  margin: 0 auto;
}

.main {
  color: $white-color;
  
  &-offer {
    padding: 50px 0;
    background: url("../../img/main-bg.jpg") no-repeat;
    background-position: center 0%;
    min-width: 960px;
    
    &-title {
      font-family: $ubuntu-font;
      font-size: 46px;
      font-weight: 600;
    }
    
    &-sub-title {
      margin: 10px 0 0 0;
      font-family: $ubuntu-font;
      font-size: 30px;
      font-weight: 300;
    }
    
    &-docs {
      margin: 30px 0 0 0;
      
      &-container {
        position: relative;
        margin: 0 auto;
        padding: 35px 0 0 0;
        width: 600px;
        
        &-item {
          position: relative;
        }
      }
    }
    
    &-sales {
      margin: 30px 0 0 0;
      font-family: $ubuntu-font;
      font-size: 24px;
      color: $pink-color;
      font-weight: 300;
    }
    
    &-order-button {
      margin: 30px 0 0 0;
    }
  }
  
  &-item {
    padding: 50px 0;
    color: $black-color;
    font-family: $ubuntu-font;
    
    &-title {
      font-size: 45px;
      font-weight: 600;
    }
    
    &-sub-title {
      font-size: 30px;
      font-weight: 300;
    }
  }
  
  &-form-item {
    padding: 30px 0;
    color: $black-color;
    
    &-title {
      font-family: $ubuntu-font;
      font-size: 36px;
      font-weight: 600;
    }
    
    &-sub-title {
      font-family: $ubuntu-font;
      font-size: 20px;
      font-weight: 300;
    }
    
    &-form {
      margin: 15px 0 0 0;
    }
  }
  
  &-privileges {
    &-list {
      margin: 30px 0 0 0;
      list-style: none;
      padding: 0px;
      
      &-item {
        position: relative;
        margin: 15px 0 15px 0;
        padding: 0 15px 0 70px;
        font-family: $ubuntu-font;
        font-weight: 300;
        font-size: 28px;
        height: 55px;
        line-height: 55px;
        
        &-description {
          display: inline-block;
          line-height: normal;
          vertical-align: middle;
        }
        
        &:before {
          @extend .icon-cross;
          position: absolute;
          content: ' ';
          top: 0;
          left: 0;
        }
      }

    }
  }
  
  &-instructions {
    
  }
  
  &-tips {
    &-list {
      margin: 90px 0 0 0;
      padding: 0 25px;
      
      &-item {
        margin: 90px 0 0 0;
        font-family: $ubuntu-font;
        
        &:first-child {
          margin-top: 0;
        }
        
        &-title {
          color: $gray-color;
          font-size: 18px;
        }
        
        &-description {
          margin: 15px 0 0 0;
          padding: 15px 20px;
          background: $yellow-color;
          font-size: 24px;
          font-weight: 300;
          font-style: italic;
          min-height: 142px;
        }
      }
    }
  }
  
  &-its-important {
    &-description {
      margin: 35px 0 0 0;
      text-indent: 35px;
      font-family: $ubuntu-font;
      font-size: 22px;
      font-weight: 300;
      line-height: 38px;
    }
  }
  
  &-decision {
    &-description {
      margin: 45px 0 0 0;
      font-family: $ubuntu-font;
      
      &-tabs {
        font-size: 22px;
        font-weight: 300;
        margin: 0 0 60px 0;
        
        &-item {
          margin: 0 0 0 50px;
          padding: 5px 20px;
          color: $inactive-color;
          cursor: pointer;
          
          &:first-child {
            margin-left: 0;
          }
          
          &:hover, &.active {
            color: $black-color;
            border-bottom: 3px solid $orange-border-color;
          }
        }
      }
      
      &-content {
        
      }
    }
  }
  
  &-conclusion {
    &-list {
      margin: 40px 0 0 0;
      
      &-item {
        &-description {
          font-family: $ubuntu-font;
          font-size: 24px;
          font-weight: 300;
        }
      }

      &-item + &-item {
        margin: 40px 0 0 0;
      }
    }
  }
  
  &-map {
    padding-bottom: 0;
    
    &-road {
      margin: 20px 0 0 0;
      min-height: 593px;
    }
  }
}

.order {
  &-item {
    &-title {
      font-family: $ubuntu-font;
      font-size: 30px;
    }

    &-description {
      margin: 30px 0 0 0;
      
      &-content {
        font-family: $ubuntu-font;
        padding: 15px 30px;
        font-weight: 300;
        font-size: 22px;
      }
      
      &-price {
        font-family: $ubuntu-font;
        padding: 15px 0;
        font-weight: 300;
        
        &-old {
          color: $dark-gray-color;
          font-size: 22px;
        }
        
        &-new {
          margin: 12px 0 0 0;
          font-size: 30px;
        }
        
        &-button {
          margin: 12px 0 0 0;
        }
      }
    }
  }

  &-item + &-item {
    margin: 80px 0 0 0;
  }
}

.button {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  
  &-large {
    padding: 10px 60px;
  }
  
  &-small {
    padding: 10px 0;
    min-width: 350px;
  }
  
  &-full-widh {
    width: 100%;
  }
  
  &-orange {
    font-family: $roboto-font;
    font-size: 28px;
    font-weight: 600;
    color: $black-color;
    border: solid 1px $orange-button-main-border-color;
    background: $orange-button-main-bg-color;
    background: -webkit-gradient(linear, left top, left bottom, from($orange-button-main-bg-top-color), to($orange-button-main-bg-bottom-color));
    background: -moz-linear-gradient(top,  $orange-button-main-bg-top-color,  $orange-button-main-bg-bottom-color);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 1px #ffdeaa;
    
    &:hover {
      background: $orange-button-main-hover-bg-color;
      background: -webkit-gradient(linear, left top, left bottom, from($orange-button-main-hover-bg-top-color), to($orange-button-main-hover-bg-bottom-color));
      background: -moz-linear-gradient(top,  $orange-button-main-hover-bg-top-color,  $orange-button-main-hover-bg-bottom-color);
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
    }
    
    &:active {
      color: $orange-button-main-active-bg-color;
      background: -webkit-gradient(linear, left top, left bottom, from($orange-button-main-active-bg-top-color), to($orange-button-main-active-bg-bottom-color));
      background: -moz-linear-gradient(top,  $orange-button-main-active-bg-top-color,  $orange-button-main-active-bg-bottom-color);
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
    }
  }
}

.input {
  color: $black-color;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-family: $roboto-font;
  font-weight: 300;
  font-size: 20px;
  
  &-large {
    height: 45px;
    width: 290px;
  }
  
  &-user {
    background: url("../../img/icons/user-input.png") #fff no-repeat 12px 12px;
    padding-left: 35px;
  }
  
  &-phone {
    background: url("../../img/icons/phone-input.png") #fff no-repeat 12px 12px;
    padding-left: 45px;
  }
}

.form {
  &-input {
    padding: 0 12px 0 0;
    
    &:last-child {
      padding-right: 0;
    }
    
    &-text {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
