@import url(vendors/normalize.css);
.icon-all-docs {
  background-position: -525px -652px;
  width: 179px;
  height: 190px; }

.icon-all-docs, .icon-building-doc {
  background-image: url("../../img/icons-sprite.png"); }

.icon-building-doc {
  background-position: 0 -652px;
  width: 175px;
  height: 228px; }

.icon-building-mini-doc {
  background-image: url("../../img/icons-sprite.png");
  background-position: -978px 0;
  width: 149px;
  height: 187px; }

.icon-cross {
  background-position: -978px -638px;
  width: 66px;
  height: 66px; }

.icon-cross, .icon-fifth-person {
  background-image: url("../../img/icons-sprite.png"); }

.icon-fifth-person {
  background-position: -612px -880px;
  width: 153px;
  height: 178px; }

.icon-fire-doc {
  background-position: -350px -652px;
  width: 175px;
  height: 228px; }

.icon-fire-doc, .icon-fire-mini-doc {
  background-image: url("../../img/icons-sprite.png"); }

.icon-fire-mini-doc {
  background-position: -978px -374px;
  width: 149px;
  height: 187px; }

.icon-first-decision {
  background-image: url("../../img/icons-sprite.png");
  background-position: -489px 0;
  width: 489px;
  height: 326px; }

.icon-first-person {
  background-image: url("../../img/icons-sprite.png");
  background-position: 0 -880px;
  width: 153px;
  height: 178px; }

.icon-fourth-decision {
  background-image: url("../../img/icons-sprite.png");
  background-position: -489px -326px;
  width: 489px;
  height: 324px; }

.icon-fourth-person {
  background-position: -153px -880px;
  width: 153px;
  height: 178px; }

.icon-fourth-person, .icon-lawer {
  background-image: url("../../img/icons-sprite.png"); }

.icon-lawer {
  background-position: -704px -652px;
  width: 149px;
  height: 187px; }

.icon-main-logo {
  background-position: -978px -561px;
  width: 122px;
  height: 77px; }

.icon-main-logo, .icon-phone-input {
  background-image: url("../../img/icons-sprite.png"); }

.icon-phone-input {
  background-position: -1044px -638px;
  width: 28px;
  height: 19px; }

.icon-second-decision {
  background-image: url("../../img/icons-sprite.png");
  background-position: 0 0;
  width: 489px;
  height: 326px; }

.icon-second-person {
  background-image: url("../../img/icons-sprite.png");
  background-position: -459px -880px;
  width: 153px;
  height: 178px; }

.icon-ses-doc {
  background-position: -175px -652px;
  width: 175px;
  height: 228px; }

.icon-ses-doc, .icon-ses-mini-doc {
  background-image: url("../../img/icons-sprite.png"); }

.icon-ses-mini-doc {
  background-position: -978px -187px;
  width: 149px;
  height: 187px; }

.icon-third-decision {
  background-image: url("../../img/icons-sprite.png");
  background-position: 0 -326px;
  width: 489px;
  height: 326px; }

.icon-third-person {
  background-image: url("../../img/icons-sprite.png");
  background-position: -306px -880px;
  width: 153px;
  height: 178px; }

.icon-user-input {
  background-image: url("../../img/icons-sprite.png");
  background-position: -1100px -561px;
  width: 19px;
  height: 19px; }
